.typer {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.preloader {
  padding-top: 180px;
  text-align: center;
}

.coffee-img {
  width: 550px;
  height: 550px;
  padding-top: 60px;
}

.left {
  font-family: "Secular One";
  color: #2f2e41;
  padding: 100px 10px;
}

.other-header {
  color: #ffd739;
}

.main-header {
  color: #2f2e41;
}
