@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.typer {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
}

.preloader {
  padding-top: 180px;
  text-align: center;
}

.coffee-img {
  width: 550px;
  height: 550px;
  padding-top: 60px;
}

.left {
  font-family: "Oswald";
  color: #2f2e41;
  padding: 100px 100px;
}

.other-header {
  color: #ffd739;
}

.main-header {
  font-family: "Oswald", "Mukta";
  color: #f8f8f8;
}

.tagline {
  font-weight: bold;
  color: #940a37;
}

.content-text {
  width: 435px;
  padding-top: 20px;
}

.button {
  background: #940a37;
}

.button-text {
  color: #ff7956;
}

.button:hover {
  background: #2f2e41;
}

.button:hover > .button-text {
  color: #d9d9d9;
}

.button:hover > .font-awesome {
  color: #f8a978;
}
