.link {
  font-weight: bold;
  font-size: 18px;
}

.logo {
  width: 45px;
  height: 45px;
}

.logo-name {
  color: #ff7956;
  position: absolute;
  margin-top: 12.8px;
}

.login-button {
  background: #ff7956;
  color: #000 !important;
  border-radius: 50px;
  padding: 0px 20px;
}

.login-button:hover {
  background: #01d28e;
  cursor: pointer;
}

.login-text {
  color: #333 !important;
}

.login-button:hover > .login-text {
  color: #fff !important;
}
