.nav-bar {
  background: #2f2e41 !important;
}

.link {
  font-weight: bold;
  font-size: 18px;
}

.logo {
  width: 45px;
  height: 45px;
}

.logo-name {
  color: #ff7956;
  position: absolute;
  margin-top: 12.8px;
}

.login-button {
  background: #f2f2f2;
  border-radius: 50px;
  padding: 0px 20px;
}

.login-button:hover {
  background: #2f2e41;
  border: 1px solid #ff7956;
  cursor: pointer;
}

.login-text {
  color: #666666 !important;
  margin-top: 1px;
}

.login-button:hover > .login-text {
  color: #f2f2f2 !important;
}

.google {
  margin-right: 7px;
}
